.recipe {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

a {
    margin: 15px;
    cursor: pointer;
    width: 20%;
    list-style: none;
    text-decoration: none;
}

.recipe h3 {
    color: aliceblue;
    width: 100%;
    text-align: center;
}

.imgContainer {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}